img {
    opacity: 1;
    transition: opacity 0.3s;

    &[data-src] {
        opacity: 0;
    }
}

#articles {
    img {
        width: 100%;
        height: 250px;
    }

    a:hover {
        text-decoration: none;
    }
}

.blogpost {
    @extend .text-justify;

    img {
        width: 100%;
        max-height: 400px;
    }

    a:hover {
        text-decoration: none;
    }
}

.uploader-images {
    margin: 2px;
    width: 48.3%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

#last-articles {
    img {
        width: 80px;
        height: 50px;
    }

    a:hover {
        text-decoration: none;
    }
}

#search-list {
    background-color: #fcfcfc;

    a {
        color: #333333;

        &:hover {
            text-decoration: none;
            color: #000560;
        }
    }
}

.blogpost-content {
    p {
        margin: 0;
    }

    blockquote {
        margin: 0;
    }

    ol {
        margin: 0;
    }
}

.slider-images {
    width: 100%;
    height: 157px;
    position: relative;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s;

    ul {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: stretch;

        li {
            flex-basis: 100%;
            margin: 1px;
            align-content: flex-end;

            div {
                position: absolute;
                z-index: -1;
                right: 0;
                top: 0;
                left: 0;
                bottom: 0;
            }

            &::after {
                content: '';
                display: none;
                width: 100%;
                height: 2px;
                margin: 0 1px 3px;
                background-color: rgba(232, 232, 232, .8);
                transition: background-color .3s;
                will-change: background-color;
            }

            &:hover {
                &::after {
                    background-color: #0af;
                }

            }
        }

        &:hover {
            li::after {
                display: block;
            }
        }
    }

    .wishlist {
        display: block;
        position: absolute;
        top: 5px;
        right: 12px;
        color: $white;
    }
}

.listing-item {

    box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);

    &:hover {
        box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, .2);
    }

    .address {
        min-height: 100px;
    }
}

.dark-translucent-bg {
    overflow: unset;

    .form-group {
        .dropdown-div {
            position: relative;
            width: 100%;

            .dropdown-list {
                width: 100%;
                position: absolute;
                max-height: 300px;
                list-style: none;
                margin-top: 0.25rem;
                padding: 0;
                text-align: left;
                font-size: small;
                background-color: $white;
                border-radius: 0.25rem !important;
                color: $gray;
                z-index: 10;
                overflow: auto;

                li {
                    padding: 0 30px 0 12px;

                    &:hover {
                        color: $white;
                        background-color: $blue;
                        transition: color 0.1s, background-color 0.1s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#details {
    dt {
        font-weight: 400;
        display: flex;
        align-items: baseline;

        &::after {
            content: "";
            margin: 0 5px;
            height: 0.3px;
            background-color: #d9d9d9;
            flex: 1 1 auto;
        }
    }
}

.wishlist {
    &:hover {
        text-decoration: none;
    }
}

.title-market {
    font-size: 35px;
    font-weight: 700;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.action-call {
    font-size: 28px;
    font-weight: 500;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
