$default-font: "Open Sans", sans-serif;

$text-color-1: #99abb4;
$text-color-2: #455a64;
$text-color-3: #868e96;

$flat-color-1: #00c292;
$flat-color-2: #ab8ce4;

$flat-color-3: #03a9f3;
$flat-color-4: #fb9678;
$flat-color-5: #66bb6a;
$flat-color-6: #5c6bc0;


$menu-bg: #fff;
$menu-active-bg: #fafafa;
$menu-color: #607d8b;
$menu-active: #03a9f3;


$container-bg: #f1f2f7;

$header-bg: #fff;
$header-icon: #99abb4;
$search-bg: #131c21;

$gray-600: #868e96;
$active-green: #49a342;


$white: #fff;
