.article-row {
    height: 100px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12px;

    &:hover {
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
        transition: box-shadow .2s ease-in;
    }

    & > div {
        @extend .text-center;
        @extend .text-wrap;
    }

    img {
        width: 100px;
        height: 70px;
        @extend .rounded;
    }

    a {
        @extend .stretched-link;
    }
}

.meg {
    .img-preview {
        @extend .d-inline-flex;
        @extend .flex-wrap;

        .preview {
            margin: 2px;
            width: 100px;
            height: 100px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

div[aria-labelledby="message"] {
    min-width: 200px;
}


.listing-item {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    &:hover {
        box-shadow: 0 20px 28px rgba(0, 0, 0, 0.30), 0 15px 10px rgba(0, 0, 0, 0.30);
    }

    .body {
        padding: 10px;
    }

    .address {
        min-height: 60px;
    }
}


.form-group {
    .dropdown-div {
        position: relative;

        .dropdown-list {
            position: absolute;
            max-height: 300px;
            width: 100%;
            list-style: none;
            margin-top: 0.25rem;
            padding: 0;
            text-align: left;
            font-size: small;
            background-color: $white;
            border: 1px solid $gray-600;
            border-radius: 0.25rem !important;
            color: $gray-600;
            z-index: 10;
            overflow: auto;

            li {
                padding: 0 30px 0 12px;

                &:hover {
                    color: $white;
                    background-color: $blue;
                    transition: color 0.2s, background-color 0.2s;
                    cursor: pointer;
                }
            }
        }
    }
}

.uploader-images {
    flex-basis: 150px;
    margin: 2px;
    flex-direction: column;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
}
